<div class="modal-header">
    <h4 class="modal-title">Your Performance Targets</h4>
</div>
<div *ngIf="perfTargets$ | async as perfTargets" class="modal-body">
    <form>
        <div class="form-group"><label for="">Row Target (meters):</label>
            <input type="text"
                   class="form-control"
                   name="rowTarget"
                   [(ngModel)]="perfTargets.row">
        </div>
        <div class="form-group"><label for="">Run Target (meters):</label>
            <input type="text"
                   class="form-control"
                   name="runTarget"
                   [(ngModel)]="perfTargets.run">
        </div>
        <div class="form-group"><label for="">Bike Target (meters):</label>
            <input type="text"
                   class="form-control"
                   name="bikeTarget"
                   [(ngModel)]="perfTargets.bike">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary"
            (click)="modal.close()">Save</button>
    <button class="btn btn-secondary"
            (click)="modal.dismiss()">Cancel</button>
</div>